.blogs {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    color: #21243D;
    margin-top: 110px;
    margin-left: 410px;
}

.soon {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    color: #21243D;
    margin-left: 460px;
    margin-top: 60px;
}