.clr {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}


.lg{
    height: 70px;
    width:70px ;
}